
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <title>Edit products</title>
          <link rel="stylesheet" href="css/prodview.css">
          <link rel="stylesheet" href="css/admin.css">

     </head>

     <body>
          <div class="middle">
               <form class="add" action="" method="post">
                    <div>
                         <label>Manage employees </label>
                    </div>
                    <hr>

                    <div>
                         <label>Name : </label>
                         <input class="iprod" name="fullname">
                    </div>

                    <div>
                         <label>Age : </label>
                         <input class="iprod" name="age">
                    </div>

                    <div>
                         <label>Phone number : </label>
                         <input class="iprod" name="phone">
                    </div>

                    <div>
                         <label>Email : </label>
                         <input class="iprod" name="email">
                    </div>

                    <div>
                         <label>Address : </label>
                         <input class="iprod" name="addr">
                    </div>
                    <input value="0" type="hidden" name="category">
                    <br>
                    <div>
                         <button type="submit">Add</button>
                    </div>

               </form>

               <br>

               <form class="update" action="" method="post">
                    <div>
                         <label>Update employees </label>
                    </div>
                    <hr>

                    <div>
                         <label>Name : </label>
                         <input class="iprod" name="fullnameN" id="fullname_">
                         <input name="prove_" value="Check" type="submit"/><label id="status"></label>
                    </div>
                    <div id="update-section">
                         <div>
                              <label>Age : </label>
                              <input class="iprod" name="ageN" id="age_">
                         </div>

                         <div>
                              <label>Phone number : </label>
                              <input class="iprod" name="phoneN" id="phone_">
                         </div>

                         <div>
                              <label>Email : </label>
                              <input class="iprod" name="emailN" id="email_">
                         </div>

                         <div>
                              <label>Address : </label>
                              <input class="iprod" name="addressN" id="addr_">
                         </div>
                         <input value="1" type="hidden" name="category">
                         <br>
                         <div>
                              <input type="submit" name="prove_" value="Update"/>
                              <input type="submit" name="prove_" value="Delete"/>
                         </div>
                    </div>

               </form>

          </div>
     </body>
</html>
<script>
     var checkvar=<%= checkvar %>;
     if(checkvar==4){
          document.getElementById("update-section").style.display="block";
          document.getElementById("fullname_").value="<%= data[0] %>";
          document.getElementById("age_").value="<%= data[2] %>";
          document.getElementById("email_").value="<%= data[4] %>";
          document.getElementById("addr_").value="<%= data[3] %>";
          document.getElementById("phone_").value="<%= data[1] %>";
     }
</script>
