

<%- include("section/_header") %>
     <% var count = 0 %>

     <h1>Available Products</h1>
     <div class="products">
          <% for(var item of data) { %>
          <div class="h-100 d-flex justify-content-evenly align-items-center">
               <% for(var i of item) { %>
               <form class="badge bg-primary product" action="cart" method="post">
                    <img src="/img/<%= i[3] %>" alt="" class="show">
                    <div class="descript">
                         <div>
                              <label class="header"><%= i[0] %></label>
                              <input type="hidden" name="title" value="<%= i[0] %>"/>
                         </div>
                         <div>
                              <label>Price : </label>
                              <input type="hidden" name="price" value="<%= i[1] %>"/>
                              <label><%= i[1] %>$</label>
                         </div>
                         <div>
                              <label>Description :</label>
                              <p><%= i[2] %></p>
                         </div>
                         <button type="submit">Add to cart</button>
                    </div>
               </form>
               <% } %>
          </div>
          <% } %>

     </div>

<%- include("section/_footer") %>

<link rel="stylesheet" href="/css/product.css">
