<style media="screen">
     table, label{
          margin-top : 40px;
     }
     label{
          color:red;
     }
</style>

<%- include("section/_header") %>

     <h1>Employee list</h1>

     <% if(data.length>0){ %>
     <table class="table table-striped table-bordered table-hover">
          <thead>
               <th>ID</th>
               <th>Name</th>
               <th>Age</th>
               <th>Contact</th>
               <th>Email</th>
               <th>Address</th>
          </thead>
          <tbody>
               <% var index = 1 %>
               <% for(var item of data) { %>
                    <tr>
                         <td><%= index %></td>
                         <td><%= item.fullname %></td>
                         <td><%= item.Age %></td>
                         <td><%= item.phone %></td>
                         <td><%= item.email %></td>
                         <td><%= item.Address %></td>
                    </tr>

                    <% var index = index + 1 %>

               <% } %>
          </tbody>
     </table>
     <% } else{ %>
          <label>Empty.</label>
     <% } %>

<%- include("section/_footer") %>
